# Directory navigation
alias up='cd ..'
alias upp='cd ../..'
alias uppp='cd ../../..'
alias upppp='cd ../../../..'
alias uppppp='cd ../../../../..'
alias upppppp='cd ../../../../../..'
alias uppppppp='cd ../../../../../../..'

# Set tmux pane title to hostname
if [ -n "$TMUX" ]; then
    PROMPT_COMMAND='echo -ne "\e]2;$(hostname -s)\e\\"'
fi

# Wrap ssh to update tmux pane title with remote hostname
ssh() {
    local host="${@: -1}"
    host="${host##*@}"
    printf '\e]2;SSH: %s\e\\' "$host"
    if [ -n "$TMUX" ]; then
        tmux set pane-active-border-style fg=colour226
        tmux set -p pane-border-style fg=colour58
    fi
    command ssh "$@"
    printf '\e]2;%s\e\\' "$(hostname -s)"
    if [ -n "$TMUX" ]; then
        tmux set pane-active-border-style fg=colour70
        tmux set -p pane-border-style fg=colour22
    fi
}

# Git
alias gs='git status'
alias gc='git commit -m'
alias gd='git diff'
alias gl='git log'
alias gpl='git pull'
alias gf='git fetch'
alias gps='git push'
alias gg='git log --graph --oneline --decorate'

# Slurm
alias sq='squeue -p a3mega -o "%.10i %.15u %.8T %.10M %.5D %.5C %.20N" --sort=S'
