[submodule ".config/nvim"]
	path = .config/nvim
	url = ../nvim.git
[submodule ".config/tmux"]
	path = .config/tmux
	url = ../tmux.git
[submodule ".config/kitty"]
	path = .config/kitty
	url = ../kitty.git
[submodule ".config/kanata"]
	path = .config/kanata
	url = ../kanata.git
[submodule ".config/ghostty"]
	path = .config/ghostty
	url = ../ghostty.git
[submodule ".config/skhd"]
	path = .config/skhd
	url = ../skhd.git
